{
  "tabWidth": 4,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxBracketSameLine": false,
  "singleQuote": false,
  "trailingComma": "all",
  "functionParenNewline": true
}
